@import url('variables.css');

.navbar-custom {
    background-color: var(--color-primario) !important;
}

.navbar-custom .navbar-link, 
.navbar-custom .navbar-brand {
    color: var(--color-negro) !important;
}

.navbar-custom .navbar-brand:hover, .navbar-custom .nav-link:hover {
    color: var(--color-blanco) !important;
}

.footer-custom {
    background-color: var(--color-primario) !important;
    color: var(--color-negro) !important;
}

.footer-custom a {
    color: var(--color-negro) !important;
    text-decoration: none;
}

.footer-custom a:hover {
    color: var(--color-blanco) !important;
}

/* Asegura que el html y body ocupen el 100% de la pantalla */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #e3e9ce;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* <-- Esto es crucial */
}

main {
  flex: 1; /* Ocupa todo el espacio disponible */
}
.fixed-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #b6d1b2;
  text-align: center;
  padding: 1rem;
  font-size: 0.9rem;
  z-index: 999;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}
