:root {
    --color-oscuro: #8D77AB;
    --color-primario: #BAD8B6;
    --color-secundario: #E1EACD;
    --color-claro: #F9F6E6;
    --color-blanco: #ffffff;
    --color-negro: #000000;
    --color-gris: #c0c0c0;
}