/* :root {
    --color-oscuro: #ADB2D4;
    --color-primario: #C7D9DD;
    --color-secundario: #D5E5D5;
    --color-claro: #EEF1DA;
    --color-blanco: #ffffff;
    --color-negro: #000000;
    --color-gris: #c0c0c0;
} */

/* :root {
    --color-oscuro: #BDB395;
    --color-primario: #D5C7A3;
    --color-secundario: #F2E2B1;
    --color-claro: #F6F0F0;
    --color-blanco: #ffffff;
    --color-negro: #000000;
    --color-gris: #c0c0c0;
} */

:root {
    --color-oscuro: #8D77AB;
    --color-primario: #BAD8B6;
    --color-secundario: #E1EACD;
    --color-claro: #F9F6E6;
    --color-blanco: #ffffff;
    --color-negro: #000000;
    --color-gris: #c0c0c0;
}